* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.down {
  padding-left: 10px;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
  padding: 0 10px;
}

.header {
  background-color: #222222;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 41px;
}

.header__left {
  padding: 18px 0;
}

.header__right {
  padding: 18px 0;
}

.header__item:not(:last-child) {
  margin-right: 33px;
}

.intro {
  height: 764px;
  background-color: #F1E4E6;
  margin-bottom: 65px;
}

.intro__wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url("../img/intro__man.png");
  background-repeat: no-repeat;
  background-position: -208px bottom;
}

.intro__text {
  max-width: 377px;
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
}

.intro h1 {
  font-size: 48px;
  font-weight: 700;
}

.intro span {
  font-size: 32px;
}

.intro__decor {
  color: #F16D7F;
}

.cathead {
  background: #F8F3F4;
}

.cathead__wrap {
  padding: 60px 0;
  font-size: 24px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cathead__wrap__left {
  color: #F16D7F;
  text-transform: uppercase;
}

.cathead__wrap__right {
  font-size: 14px;
  line-height: 17px;
}

.cathead__wrap__right a {
  color: #636363;
  text-decoration: none;
}

.cathead__wrap__right .current a {
  color: #F16D7F !important;
  text-decoration: none;
}

.catnav {
  padding: 51px 0 64px;
}

.catnav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.catnav__wrap__filter {
  position: relative;
  max-width: 360px;
  width: 100%;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
}

.catnav__wrap__filter summary {
  list-style: none;
  cursor: pointer;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

.catnav__wrap__filter__content {
  position: absolute;
  z-index: 10;
  width: 360px;
  padding: 16px;
  left: 0;
  background-color: white;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.catnav__wrap__filter__content details {
  margin-bottom: 18px;
}

.catnav__wrap__filter__content details > summary {
  padding: 11px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
}

.catnav__wrap__filter__content details > ul {
  padding: 24px 11px;
  list-style: none;
}

.catnav__wrap__filter__content details > ul > li:not(:last-child) {
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 17px;
}

.catnav__wrap__filter__content details > ul > li a {
  color: #6F6E6E;
  text-decoration: none;
}

.catnav__wrap__filter .filter-black {
  display: inline-block;
  padding-left: 11px;
}

.catnav__wrap__filter .filter-pink {
  display: none;
}

.catnav__wrap__filter[open] summary {
  color: #EF5B70;
}

.catnav__wrap__filter[open] .filter-black {
  display: none;
}

.catnav__wrap__filter[open] .filter-pink {
  display: inline-block;
  padding-left: 11px;
}

.catnav__wrap__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 360px;
  width: 100%;
  margin-left: 40px;
}

.catnav__wrap__feature summary {
  list-style: none;
  margin-right: 28px;
  cursor: pointer;
}

.catnav__wrap__feature details {
  position: relative;
}

.catnav__wrap__feature__content {
  position: absolute;
  padding: 12px;
  left: 0;
  background-color: white;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catnav__wrap__feature__content__checkbox:not(:last-child) {
  margin-bottom: 6px;
}

.catnav__wrap__feature__content__checkbox .my_checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.catnav__wrap__feature__content__checkbox .my_checkbox > span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
}

.catnav__wrap__feature__content__checkbox .my_checkbox > span::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.catnav__wrap__feature__content__checkbox .my_checkbox > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #b3d7ff;
}

.catnav__wrap__feature__content__checkbox .my_checkbox > input:not(:disabled):active + span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.catnav__wrap__feature__content__checkbox .my_checkbox > input:focus + span::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.21);
          box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.21);
}

.catnav__wrap__feature__content__checkbox .my_checkbox > input:focus:not(:checked) + span::before {
  border-color: #80bdff;
}

.catnav__wrap__feature__content__checkbox .my_checkbox > input:checked + span::before {
  border-color: #F16D7F;
  background-color: #F16D7F;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.catnav__wrap__feature__content__checkbox .my_checkbox > input:disabled + span::before {
  background-color: #e9ecef;
}

.category {
  margin-bottom: 96px;
}

.category span {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.category h3 {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.category__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 180px;
}

.category__item:not(:last-child) {
  max-width: 360px;
  min-height: 260px;
}

.category__for-women {
  background-image: url(../img/for__women.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.category__for-men {
  background-image: url(../img/for__men.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.category__for-kids {
  background-image: url(../img/for__kids.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.category__accesories {
  background-image: url(../img/accesories.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.products {
  margin-bottom: 95px;
}

.products__header {
  text-align: center;
}

.products h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.products__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
}

.products__card {
  max-width: 360px;
  background: #F8F8F8;
  margin-bottom: 30px;
}

.products__hover {
  position: relative;
}

.products__hover .decor {
  position: absolute;
  width: 100%;
  height: 100%;
}

.products__hover .decor:hover {
  background-repeat: no-repeat;
  background-image: url(../img/add__to__cart.png);
  background-position: center center;
  background-color: rgba(58, 56, 56, 0.86);
}

.products__text {
  padding: 24px 16px 20px 16px;
}

.products h3 {
  margin-bottom: 13px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.products a {
  text-decoration: none;
  color: #000;
}

.products p {
  margin-bottom: 18px;
  font-weight: 300;
  line-height: 17px;
  color: #5D5D5D;
}

.products span {
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
}

.products__view-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products .all-products {
  padding: 15px 39px;
  background-color: #F16D7F;
  color: #ffffff;
  border: 1px solid #FF6A6A;
  cursor: pointer;
}

.products__pagi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 40px;
}

.products__pagi__number {
  display: inline-block;
  border: 1px solid #EBEBEB;
  padding: 12px 40px;
}

.products__pagi__number span, .products__pagi__number span a {
  color: #C4C4C4;
  text-decoration: none;
  line-height: 18px;
}

.products__pagi__number span:not(:last-child) {
  padding-right: 15px;
}

.products__pagi .current {
  color: #F16D7F;
}

.products__pagi .pagi-left, .products__pagi .pagi-right {
  color: #000;
}

.slider {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 65px;
  background-color: #F7F7F7;
}

.slider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__wrap__arrow--left, .slider__wrap__arrow--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 47px;
  height: 47px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slider__wrap__arrow--left {
  background: url(../img/left.svg) no-repeat center center #C4C4C4;
}

.slider__wrap__arrow--left:hover {
  background: url(../img/left-hover.svg) no-repeat center center #C4C4C4;
}

.slider__wrap__arrow--right {
  background: url(../img/right.svg) no-repeat center center #C4C4C4;
}

.slider__wrap__arrow--right:hover {
  background: url(../img/right-hover.svg) no-repeat center center #C4C4C4;
}

.onecard {
  margin-bottom: 100px;
}

.onecard__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  margin-top: -65px;
  padding: 65px 0;
  background-color: white;
  border: 1px solid #EAEAEA;
}

.onecard__wrap .collection {
  text-transform: uppercase;
  color: #F16D7F;
  margin-bottom: 12px;
}

.onecard__wrap .pinkline {
  max-width: 65px;
  width: 100%;
  height: 3px;
  background-color: #EF5B70;
  margin-bottom: 12px;
}

.onecard__wrap .darkline {
  max-width: 640px;
  width: 100%;
  background-color: #EAEAEA;
  margin-bottom: 65px;
}

.onecard__wrap h3 {
  color: #4D4D4D;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.onecard__wrap p {
  max-width: 555px;
  width: 100%;
  color: #5E5E5E;
  margin-bottom: 32px;
}

.onecard__wrap .price {
  color: #EF5B70;
  margin-bottom: 65px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.onecard__wrap__filter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 450px;
  width: 100%;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  margin-bottom: 50px;
}

.onecard__wrap__filter summary {
  list-style: none;
  margin-right: 28px;
  cursor: pointer;
}

.onecard__wrap__filter details {
  position: relative;
}

.onecard__wrap .basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.onecard__wrap .basket a {
  padding: 15px 30px;
  border: 1px solid #F26376;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-decoration: none;
  color: #F26376;
}

.onecard__wrap .basket a span {
  margin-left: 23px;
}

.benefit {
  background-color: #222224;
  padding: 103px 0;
}

.benefit__item:not(:last-child) {
  margin-right: 30px;
}

.benefit__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.benefit__text {
  text-align: center;
  color: #FBFBFB;
}

.benefit h3 {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 24px;
}

.benefit p {
  line-height: 17px;
}

.benefit img {
  display: block;
  margin: 0 auto 28px;
  max-height: 35px;
  width: auto;
}

.subscribe {
  background-color: #F4F4F4;
  background: url(../img/subscribe__fon.jpg) no-repeat left bottom;
}

.subscribe__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 448px;
}

.subscribe__left p {
  max-width: 360px;
  color: #222224;
  text-align: center;
  font-style: italic;
}

.subscribe__photo {
  margin-bottom: 30px;
}

.subscribe__photo img {
  display: block;
  margin: 0 auto;
}

.subscribe__right {
  text-transform: uppercase;
  text-align: center;
}

.subscribe__text {
  margin-bottom: 32px;
}

.subscribe__header {
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}

.subscribe__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__search-input {
  background-color: #E1E1E1;
  padding: 15px 30px;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.subscribe__search-input:focus {
  outline: none;
}

.subscribe__search-submit {
  background-color: #F16D7F;
  border: none;
  padding: 15px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #ffffff;
  cursor: pointer;
}

.copyright {
  background-color: #222224;
}

.copyright__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__left {
  padding: 30px 0;
}

.copyright p {
  color: #FBFBFB;
}

.copyright__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright .social:not(:last-child) {
  margin-right: 7px;
}

.copyright .facebook, .copyright .instagram, .copyright .pinterest, .copyright .twitter {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.copyright .facebook {
  width: 32px;
  height: 32px;
  background-image: url(../img/facebook-white.png);
}

.copyright .facebook:hover {
  background-image: url(../img/facebook-pink.png);
}

.copyright .instagram {
  width: 32px;
  height: 32px;
  background-image: url(../img/instagram-white.png);
}

.copyright .instagram:hover {
  background-image: url(../img/instagram-pink.png);
}

.copyright .pinterest {
  width: 32px;
  height: 32px;
  background-image: url(../img/pinterest-white.png);
}

.copyright .pinterest:hover {
  background-image: url(../img/pinterest-pink.png);
}

.copyright .twitter {
  width: 32px;
  height: 32px;
  background-image: url(../img/twitter-white.png);
}

.copyright .twitter:hover {
  background-image: url(../img/twitter-pink.png);
}
/*# sourceMappingURL=style.css.map */