$maxwidth: 1160px;


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.container {
    margin: 0 auto;
    max-width: $maxwidth;
    padding: 0 10px;
}

.header {
    background-color: #222222;

    &__wrap {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin-right: 41px;
    }

    &__left {
        padding: 18px 0;
    }

    &__right {
        padding: 18px 0;
    }

    &__item:not(:last-child) {
        margin-right: 33px;
    }

}

.intro {
    height: 764px;
    background-color: #F1E4E6;
    margin-bottom: 65px;

    &__wrap {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-image: url('../img/intro__man.png');
        background-repeat: no-repeat;
        background-position: -208px bottom;
        }

    &__text {
        max-width: 377px;
        padding-left: 16px;
        border-left: 12px solid #F16D7F;

    }
    & h1 {
        font-size: 48px;
        font-weight: 700;
    }

    & span {
        font-size: 32px;
    }

    &__decor {
        color: #F16D7F;
    }
}

.cathead {
    background: #F8F3F4;

    &__wrap {
        padding: 60px 0;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__left {
            color:#F16D7F;
            text-transform: uppercase;
        }

        &__right {
            font-size: 14px;
            line-height: 17px;
            
            a {
                color: #636363;     
                text-decoration: none;      
            }

            .current a {
                color: #F16D7F !important;
                text-decoration: none;
            }
        }
    }
}

.catnav {
    padding: 51px 0 64px;

    &__wrap {
        display: flex;
        justify-content: flex-start;

        &__filter {
            position: relative;
            max-width: 360px;
            width: 100%;
            background-color: white;
            box-sizing: border-box;
            position: relative;
            outline: none;
            border: none;   

            summary { 
                list-style:none; 
                cursor: pointer;
                color:#000;
                text-transform: uppercase; 
                font-weight: 500;
                font-size: 14px;
            }      

            &__content {
                position: absolute;
                z-index: 10;
                width: 360px;
                padding: 16px;
                left: 0;
                background-color: white;
                box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

                details {
                    margin-bottom: 18px;
                }

                details > summary {
                    padding: 11px;
                    border-left: 5px solid #EF5B70;
                    border-bottom: 1px solid #EBEBEB;
                }

                details > ul {
                    padding: 24px 11px;
                    list-style: none;
                }

                details > ul > li:not(:last-child) {
                    margin-bottom: 11px;
                    font-size: 14px;
                    line-height: 17px;
                }

                details > ul > li a {
                    color: #6F6E6E;
                    text-decoration: none;
                }
            }

            .filter-black {
                display: inline-block;
                padding-left: 11px;
            }

            .filter-pink {
                display: none;
            }
        }

        &__filter[open] {

            summary {
                color: #EF5B70;
            }

            .filter-black {
                display: none;
            }

            .filter-pink {
                display: inline-block;
                padding-left: 11px;
            }
        }
        
        &__feature {
            display: flex;
            justify-content: flex-start;
            max-width: 360px;
            width: 100%;
            margin-left: 40px;

            summary {
                list-style: none;
                margin-right: 28px;
                cursor: pointer;
            }

            .down {
                padding-left: 10px;
            }

            details {
                position:relative;
            }

            &__content {
                position: absolute;
                padding: 12px;
                left: 0;
                background-color: white;
                box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                z-index: 10;
                box-sizing: border-box;

                &__checkbox:not(:last-child) {
                    margin-bottom: 6px;
                }

                &__checkbox {
                    .my_checkbox > input {
                        position: absolute;
                        z-index: -1;
                        opacity: 0;
                    }
          
                    .my_checkbox > span {
                        display: inline-flex;
                        align-items: center;
                        user-select: none;
                        white-space: nowrap;
                    }
          
                    .my_checkbox > span::before {
                        content: '';
                        display: inline-block;
                        width: 13px;
                        height: 13px;
                        flex-shrink: 0;
                        flex-grow: 0;
                        border: 1px solid #EBEBEB;
                        border-radius: 4px;
                        margin-right: 6px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 50% 50%;
                    }
          
                    .my_checkbox > input:not(:disabled):not(:checked)+span:hover::before {
                        border-color: #b3d7ff;
                    }
          
                    .my_checkbox > input:not(:disabled):active+span::before {
                        background-color: #b3d7ff;
                        border-color: #b3d7ff;
                    }
          
                    .my_checkbox > input:focus+span::before {
                        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.21);
                    }
                
                    .my_checkbox > input:focus:not(:checked)+span::before {
                        border-color: #80bdff;
                    }
          
                    .my_checkbox > input:checked+span::before {
                        border-color: #F16D7F;
                        background-color: #F16D7F;
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
                    }
                
                    .my_checkbox > input:disabled+span::before {
                        background-color: #e9ecef;
                    }
    
                }
    

            }

        }

    }
}

.category {
    margin-bottom: 96px;

    & span {
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        color: #ffffff;
    }

    & h3 {
        color: #F16D7F;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 30px;
        box-sizing: border-box;
        min-height: 180px;
    }
    &__item:not(:last-child) {
        max-width: 360px;
        min-height: 260px;
    }

    &__for-women {
        background-image: url(../img/for__women.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__for-men {
        background-image: url(../img/for__men.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__for-kids {
        background-image: url(../img/for__kids.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__accesories {
        background-image: url(../img/accesories.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }    
}

.products {
    margin-bottom: 95px;

    &__header {
        text-align:center;
    }

    & h2 {
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 48px;
    }

    &__card {
        max-width: 360px;
        background: #F8F8F8;
        margin-bottom: 30px;
    }

    &__hover {
        position: relative;

        .decor {
            position: absolute;
            width: 100%;
            height: 100%
        }

        .decor:hover {
            background-repeat: no-repeat;
            background-image: url(../img/add__to__cart.png);
            background-position: center center;
            background-color: rgba(58, 56, 56, 0.86);
        }
    }

    &__text {
        padding: 24px 16px 20px 16px;
    }

    & h3 {
        margin-bottom: 13px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
    }

    & a {
        text-decoration: none;
        color: #000;
    }

    & p {
        margin-bottom: 18px;
        font-weight: 300;
        line-height: 17px;
        color: #5D5D5D;
    }

    & span {
        color: #F16D7F;
        font-size: 16px;
        line-height: 19px;
    }

    &__view-all {
        display: flex;
        justify-content: center;

    }

    .all-products {
        padding: 15px 39px;
        background-color: #F16D7F;
        color: #ffffff;
        border: 1px solid #FF6A6A;
        cursor: pointer;
    }

    &__pagi {
        display: flex;
        justify-content: center;
        padding: 12px 40px;

        &__number {
            display: inline-block;
            border: 1px solid #EBEBEB;
            padding: 12px 40px;

            & span, & span a {
                color: #C4C4C4;
                text-decoration: none;
                line-height: 18px;
            }

            & span:not(:last-child) {
                padding-right: 15px;            
            }

        }
        .current {
            color: #F16D7F;                
        }

        .pagi-left, .pagi-right {
            color: #000;
        }
    }
}

.benefit {
    background-color: #222224;
    padding: 103px 0;

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__wrap {
        display: flex;
        justify-content: space-around;
    }

    &__text {
        text-align: center;
        color: #FBFBFB;
    }

    & h3 {
        margin-bottom: 16px;
        font-size: 20px;
        line-height: 24px;
    }

    & p {
        line-height: 17px;
    }

    & img {
        display: block;
        margin: 0 auto 28px;
        max-height: 35px;
        width: auto;
    }
}

.subscribe {
    background-color: #F4F4F4;
    background: url(../img/subscribe__fon.jpg) no-repeat left bottom;

    &__wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 448px;
    }

    &__left {
        & p {
            max-width: 360px;
            color: #222224;
            text-align: center;
            font-style: italic;
        }       
    }
    &__photo {
        margin-bottom: 30px;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    &__right {
        text-transform: uppercase;
        text-align: center;
    }

    &__text {
        margin-bottom: 32px;;
    }

    &__header {
        display: block;
        font-weight: 700;
        margin-bottom: 5px;
    }

    &__search {
        display: flex;
        justify-content: center;

        &-input {
            background-color: #E1E1E1;
            padding: 15px 30px;
            border: none;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }

        &-input:focus {
            outline: none;
        }

        &-submit {
            background-color: #F16D7F;
            border: none;
            padding: 15px; 
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px; 
            color: #ffffff;
            cursor: pointer;    
        }
    }

}

.copyright {
    background-color: #222224;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        padding: 30px 0;
    }

    & p {
        color: #FBFBFB;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    .social:not(:last-child) {
        margin-right: 7px;
    }

    .facebook {
        width: 32px;
        height: 32px;
        background-image: url(../img/facebook-white.png);
    }

    .facebook:hover {
        background-image: url(../img/facebook-pink.png);
    }

    .instagram {
        width: 32px;
        height: 32px;
        background-image: url(../img/instagram-white.png);
    }

    .instagram:hover {
        background-image: url(../img/instagram-pink.png);
    }

    .pinterest {
        width: 32px;
        height: 32px;
        background-image: url(../img/pinterest-white.png);
    }

    .pinterest:hover {
        background-image: url(../img/pinterest-pink.png);
    }

    .twitter {
        width: 32px;
        height: 32px;
        background-image: url(../img/twitter-white.png);
    }

    .twitter:hover {
        background-image: url(../img/twitter-pink.png);
    }

}